@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Node</strong><em>Stor</em></h1>
    <h3 class="display-8">An Asset Managment Application</h3>
    <p>Now you can easily track drives in their nodes. </p>
    <img src="/media/ServerRack.jpg" alt="Server Rack" style="max-width: 100px;" />
</div>
