@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All Information about your drives and Nodes are confedential</p>
<p>Use operational security best practices to ensure that only authorized personnel are able to access this utility</p>
